/* 
<!-- https://www.svgrepo.com/collection/solar-broken-line-icons/ -->

black           #000000
rust            #AD4922
dun             #E7CEB5
reseda green    #5C755E
*/


#about-background{
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
}


.flash-msg{
    border: #AD4922;
    color: #AD4922;
}


.tea-cards {
    height: 50vh;
    object-fit: cover;
}


#search-label {
    padding-right: 1rem;
}


.spot-tea-tooltip {
    --bs-tooltip-bg: #000000;
    --bs-tooltip-opacity: .5;
    --bs-tooltip-color: white;
}

#about-carousel {
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
    position: middle;
}


.carousel-img {
    height: 50vh;
    object-fit: cover;
}


.container {
    margin-bottom: 5%;
}

h4 {
    font-family: sans-serif;
    font-size: 300%;
}

