{% extends 'base.html' %}
{% block title %} SteepSpots | Home {% endblock %}

{% block body %}

  <h2>Spot New Teas!</h2>
  
  <!-- This is like my search bar form -->
  <form id="origin-search"> 
    <div class="search-group">
      <label>Search by origin:
        <select id="tea-origin-field" name="tea-origin" class="form-control">
          {% for origin in all_origins %}
            <option value={{origin[0]}}>{{origin[0]}}</option>
          {% endfor %}
        </select>
      </label>
      <button type="submit" id="search-form-button" class="btn btn-primary mt-2">Search</button>
    </div>
  </form>
  
  <!-- tip: check out card component from bootstrap -->
  <!-- TODO - add class to table headers for quick styling later, also move this to JS probably-->
  <!-- Tried to make the table sortable by following this site, but no luck:
  https://www.bu.edu/tech/services/cccs/websites/www/wordpress/how-to/sortable-searchable-tables/#:~:text=Adding%20the%20%E2%80%9Csortable%E2%80%9D%20class%20to,cell%20in%20an%20HTML%20table. -->
  <div>
    <div class="all-results">
      <div class="row row-cols-1 row-cols-md-3 g-4" id="tea-results">
        {% for tea in all_teas %}
          <div class="col">
            <div class="card">
              <img src="{{ tea.tea_img }}" class="card-img-top tea-cards" alt="Image of tea">
              <div class="card-body">
                <h5 class="card-title">Tea Name: {{ tea.tea_name }}</h5>
                <p class="card-text">Origin: {{ tea.tea_origin }}</p>
                <a class="btn btn-outline-dark" href="/tea-profile/{{ tea.tea_id }}">Spot Tea</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <script src="/static/tea-results.js"></script>

{% endblock %}