{% extends 'base.html' %}
{% block title %} SteepSpots | Home {% endblock %}

{% block body %}

  <h2>Spot New Teas!</h2>
  
  <!-- This is like my search bar form -->
  <form id="flavor-search"> 
    <div class="search-group">
      <label>Search by flavor:
        <select id="tea-flavor-field" name="tea-flavor" class="form-control">
          {% for flavor in all_flavors %}
            <option value={{flavor.tea_flavor}}>{{flavor.tea_flavor}}</option>
          {% endfor %}
        </select>
      </label>
      <button type="submit" id="search-form-button" class="btn btn-primary mt-2">Search</button>
    </div>
  </form>
  
  <!-- tip: check out card component from bootstrap -->
  <!-- TODO - add class to table headers for quick styling later, also move this to JS probably-->
  <!-- Tried to make the table sortable by following this site, but no luck:
  https://www.bu.edu/tech/services/cccs/websites/www/wordpress/how-to/sortable-searchable-tables/#:~:text=Adding%20the%20%E2%80%9Csortable%E2%80%9D%20class%20to,cell%20in%20an%20HTML%20table. -->
  <div>
    <div class="all-results">
      <table class="sortable" id="tea-results">
        <thead>
        <tr align="left">
          <th class="header">Tea Group</th>
          <!-- <th class="header">Tea Type</th> -->
          <th class="header">Caffeine Range (mg)</th>
          <!-- <th class="header">Brand Name</th> -->
          <!-- <th class="header">Brand Flavor Name</th> -->
          <th class="header">Tea Name</th>
          <th class="header">Add to Favorites</th>
        </tr>
        </thead>
        <tbody>
        {% for tea in all_teas %}
          <tr>
            <td>{{ tea.tea_group }}</td>
            <!-- <td>{{ tea.tea_class }}</td> -->
            <td>{{ tea.caff_range_mg }}</td>
            <!-- <td>{{ tea.tea_brand }}</td> -->
            <!-- <td>{{ tea.brand_flavor }}</td> -->
            <td>{{ tea.tea_name }}</td>
            <td><a href="/tea-profile/{{ tea.tea_id }}">Spot Tea</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>


  <script src="/static/tea-results.js"></script>

{% endblock %}