{% extends 'base.html' %}
{% block title %} Home - Discover the world one spot of tea at a time | SteepSpots {% endblock %}

{% block body %}
<div id="about-background" class="container-fluid" style="padding-right:0; padding-left:0;">

  <div id="homepage-carousel"> </div>

    <!-- BEGIN REACT -->

        <!-- try putting carosel here from bootstrap and check padding/margin -->
      

    <!-- END REACT -->

    
      <div class="container all-results">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="tea-results">
          {% for tea in all_teas %}
            <div class="col">
              <div class="card">
                <img src="{{ tea.tea_img }}" class="card-img-top tea-cards" 
                data-bs-toggle="tooltip" data-bs-placement="top" 
                data-bs-custom-class="tea-img-tooltip"
                data-bs-title="{{ tea.tea_flavor_notes }}" 
                alt="Image of tea">
                <div class="card-body">
                  <h5 class="card-title">{{ tea.tea_name }} ({{tea.tea_origin}})</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ tea.tea_group }} tea</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{ tea.caff_level }} caffeine ({{ tea.caff_range_mg }} per cup)</h6>
                  <p class="card-text">{{ tea.tea_info }}</p>
                  <a class="btn btn-outline-dark" data-bs-toggle="tooltip" 
                  data-bs-placement="bottom" data-bs-custom-class="spot-tea-tooltip"
                  data-bs-title="click to save favorite" 
                  href="/tea-profile/{{ tea.tea_id }}">
                    <img src=" ../static/images/spot-tea.svg" id="spot-tea-icon">
                    spot
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      
      </div>
   
</div>
  

{% endblock %}

{% block after_body %}
<script src="/static/tea-results.js"></script>
{% endblock %}
 
