{% extends 'base.html' %}
{% block title %} SteepSpots | Profile {% endblock %}

{% block body %}

<div id="about-background" class="container-fluid" style="padding-right:0; padding-left:0;">
  
  <div id="about-carousel" class="carousel slide" data-bs-ride="carousel">
    <!-- TODO - make the below div a jinja for loop for each favorited tea -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      {% for favorite in user_favorites %}
      <div class="carousel-item active">
        <img src="{{ favorite.tea.tea_img }}" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>{{ favorite.tea.tea_name }} ({{favorite.tea.tea_origin}})</h4>
          <p>{{ favorite.tea.tea_flavor_notes }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
  
  <div class="container user-results">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="user-tea-results">
      {% for favorite in user_favorites %}
        <div class="col">
          <div class="card">
            <img src="{{ favorite.tea.tea_img }}" class="card-img-top tea-cards" 
            data-bs-toggle="tooltip" data-bs-placement="top" 
            data-bs-custom-class="tea-img-tooltip"
            data-bs-title="{{ favorite.tea.tea_flavor_notes }}" 
            alt="Image of tea">
            <div class="card-body">
              <h5 class="card-title">{{ favorite.tea.tea_name }} ({{favorite.tea.tea_origin}})</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ favorite.tea.tea_group }} tea</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ favorite.tea.caff_level }} caffeine ({{ favorite.tea.caff_range_mg }} per cup)</h6>
              <p class="card-text">{{ favorite.tea.tea_info }}</p>
              <a class="btn btn-outline-dark" data-bs-toggle="tooltip" 
              data-bs-placement="bottom" data-bs-custom-class="spot-tea-tooltip"
              data-bs-title="click to remove favorite" 
              href="/tea-removal/{{ favorite.tea.tea_id }}">Unspot Tea</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}